/* .navbarContainer{
    padding: 20px 30px;
    background-color: darkseagreen;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navSec {
    gap: 1.5rem;
}

div.navSec h2{
    font-size: 2rem;
    font-weight: bolder;
    color: lightblue;
}

div.navSec h2:hover{
    cursor: pointer;
} */

