.postContainer {
    padding: 0px 1.5rem 0px  1.5rem;
    margin: 1rem 0;
    border-radius: 0.75rem;
}

.postDesc {
    margin-top: 1rem;
    margin-bottom: 5px;
}

.postedImg {
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    width: 100%;
    height: auto;
}

.postImpressed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    color: hotpink;
}

.commentContainer {
    margin-top: 0.5rem;
}

.comment {
    margin: 5px 0;
    padding-left: 15px;
}